@import "../../globalStyle.css";

.MainScreen {
  height: 100vh;
}

.MainScreen__container {
  width: 60%;
  margin: auto;
}

/*---- CONTAINER HEADER ----*/
.MainScreen__container__header {
  display: flex;
  justify-content: center;
  padding: 19px 0;
}

/*---- CONTAINER LOADER ----*/
.MainScreen__container__loader {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

/*---- TITLES ----*/
.MainScreen__container__titles {
  display: flex;
  align-items: center;
  font-size: 17px;
  padding: 0 24px;
}

.MainScreen__container__titles--items {
  font-weight: 500;
  color: var(--lightBlack-color);
  margin-right: 7px;
}

.MainScreen__container__titles--time {
  color: var(--gray-color);
  margin-right: 8px;
}

.MainScreen__container__titles--selected {
  font-weight: 500;
  color: var(--main-color);
  margin-right: 7px;
}

.MainScreen__container__list {
  padding-bottom: 144px;
}

.MainScreen__container__titles--refreshing {
  font-weight: 500;
  color: var(--main-color);
}

.MainScreen__container__titles--refreshingBtn {
  background: none;
  border: none;
  margin-right: 6.5px;
  cursor: pointer;
}

/*---- NO CONTENT SCREEN ----*/
.MainScreen__container__noContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 105px;
}

/*---- ERROR SCREEN ----*/
.MainScreen__container__error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 105px;
}

/*---- NO RESULTS ----*/
.MainScreen__container__noResults {
  display: flex;
  justify-content: center;
  padding-top: 180px;
}

.MainScreen__container__noResults--title {
  font-size: 22px;
  font-weight: 500;
  color: var(--gray-color);
}

/*---- FOOTER ----*/
.MainScreen__container__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  background-color: var(--white--color);
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.MainScreen__container__footer--containerBtns {
  display: flex;
  justify-content: flex-start;
  margin-left: 20%;
}

.containerBtns__containerTool {
  position: relative;
}

@media (max-width: 992px) {
  .MainScreen__container {
    width: 80%;
  }

  .MainScreen__container__footer--containerBtns {
    margin-left: 10%;
  }
}

@media (max-width: 576px) {
  .MainScreen__container {
    width: 100%;
  }

  .MainScreen__container__error {
    padding-left: 48px;
    padding-right: 48px;
  }

  .MainScreen__container__noContent {
    padding-left: 48px;
    padding-right: 48px;
  }

  .MainScreen__container__footer--containerBtns {
    margin-left: 16px;
  }
}